{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
      <h1>Tableau de bord</h1>
      <!-- Statistique Cards -->
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4">
          <div class="card text-white bg-primary mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-wallet"></i> Nombre de Comptes</h5>
              <p class="card-text">{{ accounts|length }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-exchange-alt"></i> Nombre de Transactions</h5>
              <p class="card-text">{{ transactions|length }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card text-white bg-warning mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-dollar-sign"></i> Nombre de Budgets</h5>
              <p class="card-text">{{ budgets|length }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Transactions Table -->
      <div class="mb-4">
        <h2>Transactions récentes</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Montant</th>
              <th>Catégorie</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.date|date:"d/m/Y" }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Budgets Table -->
      <div>
        <h2>Budgets</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Montant</th>
              <th>Catégorie</th>
              <th>Date de début</th>
              <th>Date de fin</th>
            </tr>
          </thead>
          <tbody>
            {% for budget in budgets %}
              <tr>
                <td>{{ budget.name }}</td>
                <td>{{ budget.amount }}</td>
                <td>{{ budget.category.name }}</td>
                <td>{{ budget.start_date|date:"d/m/Y" }}</td>
                <td>{{ budget.end_date|date:"d/m/Y" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}
